<!DOCTYPE html>
<html>
<head>
  <title>Lewis Bangham</title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= analytics_init if Rails.env.production? %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://raw.githubusercontent.com/guidobouman/jquery-panelsnap/master/jquery.panelSnap.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="flash">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
  </div>
  <div>
      <h1><a href="/"><span class="super">L</span>EWIS<span class="super">B</span>ANGHAM</a></h1>
  </div>
</header>
<section class="main_content">
<%= yield %>
</section>
</body>
</html>
